{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },

  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "eslint-plugin-testing-library",
    "jest-dom"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@next/next/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/alt-text": "error",
    "no-alert": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-unused-vars": "error",
    "no-extra-boolean-cast": "off",
    "complexity": "warn",
    "prefer-const": "warn",
    "no-console": "error",
    "testing-library/await-async-query": "warn",
    "testing-library/no-await-sync-query": "warn",
    "testing-library/no-debugging-utils": "warn",
    "testing-library/no-dom-import": "warn",
    "testing-library/prefer-screen-queries": "warn",
    "testing-library/prefer-presence-queries": "warn",
    "testing-library/no-container": "warn",
    "testing-library/no-node-access": "warn",
    "jest-dom/prefer-in-document": "warn",
    "@next/next/no-html-link-for-pages": ["error", "packages/app/pages"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": ["error"]
      }
    }
  ]
}
